INITIAL_SUPERADMIN_EMAIL=your_superadmin_email@domain.com
INITIAL_SUPERADMIN_PASSWORD=your_superadmin_secure_password_here
JwtOptions__SecretKey=your_very_secret_jwt_key_at_least_32_chars
JwtOptions__Issuer=ECommerceAPI
JwtOptions__Audience=ECommerceClient
